:root {
    --backGroundLatte: #d6c6b4;
    --backGroundEspresso: #3A2F2F;
    --latteFont:#ece0d1;
    --espressoFont: #38220f;
}

.backButton {
    display:flex;
    flex-wrap: wrap;
    position:relative;
    float:right;
    bottom: 30px;
    margin: 0 5rem .2rem;
    border-radius: 10px;
    width: 131px;
    height: 30px;
    font-size: 1vw;
    font-style:italic;
}

/* Header Style Start Here */

.backButton:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px white;
  }
  
.backButton:hover {
    cursor: pointer;
    color: white;
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 5px white;
}

/* List Style Start Here */
.blogPost {
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: space-between;
    height: 650px;
    width:90%; /* or whatever width you want. */
 /* or whatever width you want. */
}
.postList {
    margin: 1rem 0 0 4rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 3px dashed black;
    padding: 0 5rem 0 5rem;
    max-height: 80%;
}
.postList h2 {
    margin: 3rem 4rem;
    font-size: 2vw;
    border-bottom: 2px solid black;

}

.postList p{
    border-bottom: 2px solid black;
}
.postList h3 {
    margin-top: auto;
    vertical-align: bottom;
    border-bottom: 2px solid black;
}

/* List Style Finish Here */