:root {
    --backGroundLatte: #d6c6b4;
    --backGroundEspresso: #3A2F2F;
    --latteFont:#ece0d1;
    --espressoFont: #38220f;
}
/* Form Style Start Here */
.form {
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    width: 30%;
    margin: 0 3rem 4rem 6rem;
    padding: 1rem 4rem;
    font-size: 1.5vw;
}
.form label {
    font-size: 2.2vw;
    margin: 1.5rem 2rem;
    font-family: "Marker Felt", fantasy;
}

.coffeImg {
    position: relative;
    text-align: right;
    object-fit: cover;
    bottom: 50px;
    margin: 1rem 3rem;
    padding: 2rem 2rem;
    font-size: 250%;
    width: 600px;
    height: auto; 
}

.formBase {
    display: flex;
    justify-self: space-between;
    flex-direction: row;
}

.submitButton {
    position: relative;
    text-align: bottom;
    top:470px;
    right:170px;
    
}
/* Form Finish Here */
/* Footer settings Start Here*/

/* Footer settins Finish Here */