:root {
    --backGroundLatte: #d6c6b4;
    --backGroundEspresso: #3A2F2F;
    --latteFont:#ece0d1;
    --espressoFont: #38220f;
}

body {
    margin: 0;
    padding: 0;
    font-family: "American Typewriter", serif;
}

/* Header Style Start Here */

header {
    padding: .8rem 1.8rem;
    color: var(--latteFont);
    font-size: 1vw;
}

.caffeTitle {
    display:flex;
    justify-content: space-between;
}

.themeText {
    padding: 1.5rem 8rem;
    font-size: 1vw;
    font-weight: 900;
}

.themeSwitcher {
    display:flex;
    flex-wrap: wrap;
    position:relative;
    float:right;
    bottom: 70px;
    margin: 0 5rem .2rem;
    height: 34px;
    border-radius: 50px;
}
/* Header Style Finish Here */

/* Theme Switcher Style Hover */

.themeSwitcher:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
.themeSwitcher:hover {
    cursor: pointer;
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}

/* Footer Style Start Here */
footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
}
.contacts a{
    display: flex;
    position: relative;
    text-decoration: none;
    text-decoration-line: underline overline;
    font-weight: 900;
    font-size: 1.2vw;
    margin: .8rem auto;
    right: 50px;
    width: 0px;
}

.contacts h2{
    position: relative;
    text-align: center;
    font-size: 1.5vw;
}

.contacts a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
.contacts a:hover {
    cursor: pointer;
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }
/* Footer Style Finish Here */

/* Dark Theme Style Start Here */

.dark {
    background-color: var(--backGroundEspresso);
    height: 100vh;
    color: var(--latteFont);
  }
  
.dark li a {
    color: var(--latteFont);
}

.dark header{
    background-color: var(--backGroundLatte);
    color: var(--espressoFont);
    border-bottom: 3px dashed var(--backGroundEspresso);
}

.dark .themeSwitcher {
    background-color: var(--backGroundEspresso);
}
.dark .backButton {
    background-color: var(--backGroundEspresso);
    color: var(--latteFont);
}

.dark .contacts {
    background-color: var(--backGroundLatte);
    color: var(--espressoFont);
    border-top: 3px dashed var(--backGroundEspresso);
}

.dark .contacts a{
    color: var(--espressoFont);
}
/* Dark Theme Style Finish Here */

/* Light Theme Style Start Here */

.light {
    background-color: var(--backGroundLatte);
    color: var(--espressoFont);
    height: 100vh;
}
  
.light li a {
    color: var(--espressoFont);
}
  
.light header {
    background-color: var(--backGroundEspresso);
    color: var(--latteFont);
    border-bottom: 3px dashed var(--backGroundLatte);
}

.light .themeSwitcher {
    background-color: var(--backGroundLatte);
}

.light .backButton {
    background-color: var(--backGroundLatte);
    color: var(--espressoFont);
}

.light .contacts {
    background-color: var(--backGroundEspresso);
    color: var(--latteFont);
    border-top: 3px dashed var(--backGroundLatte);
}

.light .contacts a{
    color: var(--latteFont);
}
/* Light Theme Style Finish Here */